-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get, :id=>'request_form' do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    -# Rails will aggregate the values into a single hash called ratings (ratings[G], ratings[R], ...)
    -# if R and G are selected: ratings = {'R' => '1', 'G' => '1'}
    -if @ratings == nil
      -checked = true # checked by default
    -else
      -checked = @ratings["#{rating}"] == '1' ? true : false

    = check_box_tag "ratings[#{rating}]", '1', checked, id: "ratings_#{rating}"
    %span &nbsp;
  = submit_tag 'Refresh', :id=>"ratings_submit"

%table#movies
  %thead
    %tr
      -# pass value to movies_path, so we can use them as params[:sort_by] in the controller 
      %th{:class => @hilite["title"]}= link_to 'Movie Title', movies_path(:sort_by=>"title"), :id=>"title_header"
      %th Rating
      %th{:class => @hilite["release_date"]}= link_to 'Release Date', movies_path(:sort_by=>"release_date"), :id=>"release_date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

